@keyframes myAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
.image {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background-image: url(img/bacground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__content_title {
  max-width: 788px;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-top: 217px;
}
.top__content_text {
  max-width: 481px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 32px;
  margin-bottom: 44px;
}
.top__content_text-special {
  font-weight: 700;
}
.top__content_button {
  height: 48px;
  width: 234px;
  background: #9C0332;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  color: #FFFFFF;
}
.top__content_button:hover {
  background: #da4545;
  transition: 0.5s;
}

.product__content {
  height: 556px;
  display: grid;
  box-sizing: border-box;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  background: #000915;
  padding-top: 128px;
}
.product__content_text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.product__content_item:hover {
  transform: scale(1.05);
  animation: myAnim 0.3s ease 0s 1 normal forwards;
  box-shadow: 0 0 5px #ccc;
  padding: 4px;
  transition: 0.5s;
}
.product__content_item {
  height: 300px;
  grid-column: span 4;
  display: flex;
  align-items: flex-end;
}
.product__content_item-1 {
  background-image: url(img/game1.jpg);
  border-radius: 16px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 32px;
  padding-bottom: 32px;
}
.product__content_item-2 {
  background-image: url(img/game2.jpg);
  border-radius: 16px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  padding-left: 32px;
  padding-bottom: 32px;
}
.product__content_item-3 {
  background-image: url(img/game3.jpg);
  border-radius: 16px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  padding-left: 32px;
  padding-bottom: 32px;
}

.game-box {
  background: #000915;
}
.game-box__first {
  height: 800px;
  display: flex;
  gap: 135px;
}
.game-box__first_info {
  padding-top: 282px;
}
.game-box__first_info_heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.game-box__first_info_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 32px;
}
.game-box__first_info_button {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  color: #FFFFFF;
}
.game-box__first_info_button:hover {
  background: #da4545;
  transition: 0.5s;
}
.game-box__first_annim {
  padding-top: 233px;
}
.game-box__second {
  height: 800px;
  display: flex;
  gap: 135px;
}
.game-box__second_annim {
  padding-top: 233px;
}
.game-box__second_info {
  padding-top: 282px;
}
.game-box__second_info_heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.game-box__second_info_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 32px;
}
.game-box__second_info_button {
  width: 234px;
  height: 48px;
  background: #9C0332;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  color: #FFFFFF;
}
.game-box__second_info_button:hover {
  background: #da4545;
  transition: 0.5s;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    background-image: url(img/bacground_mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .top__content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .top__content_title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .top__content_text {
    max-width: 343px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 32px;
  }
  .product__content {
    height: 1220px;
    display: flex;
    flex-direction: column;
  }
  .game-box__first {
    max-height: 653px;
    display: flex;
    gap: 64px;
    align-items: center;
    flex-direction: column;
  }
  .game-box__first_info {
    padding-top: 51px;
    text-align: center;
  }
  .game-box__first_info_heading {
    font-size: 32px;
    line-height: 39px;
  }
  .game-box__first_info_text {
    font-size: 14px;
    line-height: 22px;
  }
  .game-box__first_annim {
    padding-top: 0px;
  }
  .game-box__first_annim-image {
    width: 100%;
  }
  .game-box__second {
    max-height: 653px;
    display: flex;
    gap: 64px;
    align-items: center;
    flex-direction: column-reverse;
  }
  .game-box__second_info {
    padding-top: 51px;
    text-align: center;
  }
  .game-box__second_info_heading {
    font-size: 32px;
    line-height: 39px;
  }
  .game-box__second_info_text {
    font-size: 14px;
    line-height: 22px;
  }
  .game-box__second_annim {
    padding-top: 0px;
  }
  .game-box__second_annim-image {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */